In [ ]:
#import the required libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
import string
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#import the dataset
data = pd.read_csv("/content/spam.csv",encoding = "ISO-8859-1")
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [ ]:
maindata = data[["v1","v2"]]

In [ ]:
maindata

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
maindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [ ]:
maindata.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [ ]:
maindata["Length"] = maindata["v2"].apply(len)
maindata.head()

<ipython-input-13-81288a61dad9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  maindata["Length"] = maindata["v2"].apply(len)

     v1                                                 v2  Length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [ ]:
maindata.groupby("v1").count()

        v2  Length
v1
ham   4825    4825
spam   747     747

In [ ]:
#Data Visualization or statistical analysis
maindata["Length"].describe()

count    5572.000000
mean       80.118808
std        59.690841
min         2.000000
25%        36.000000
50%        61.000000
75%       121.000000
max       910.000000
Name: Length, dtype: float64

In [ ]:
#So, the overall effect of this code is to extract the value in the "v2" column 
#from the first row in maindata where the "Length" value is equal to 910.
maindata[maindata["Length"]==910]["v2"].iloc[0]

"For me the love should start with attraction.i should feel that I need her every time around me.she should be the first thing which comes in my thoughts.I would start the day and end it with her.she should be there every time I dream.love will be then when my every breath has her name.my life should happen around her.my life will be named to her.I would cry for her.will give all my happiness and take all her sorrows.I will be ready to fight with anyone for her.I will be in love when I will be doing the craziest things for her.love will be when I don't have to proove anyone that my girl is the most beautiful lady on the whole planet.I will always be singing praises for her.love will be when I start up making chicken curry and end up makiing sambar.life will be the most beautiful then.will get every morning and thank god for the day because she is with me.I would like to say a lot..will tell later.."

In [ ]:
#Text preprocessing
dobject = maindata["v1"].values
dobject

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype=object)

In [ ]:
maindata.loc[maindata['v1'] == 'ham','v1'] = 1

In [ ]:
maindata.loc[maindata['v1'] == 'spam','v1'] = 0

In [ ]:
dobject2 = maindata["v1"].values

In [ ]:
dobject2

array([1, 1, 0, ..., 1, 1, 1], dtype=object)

In [ ]:
maindata.head()

  v1                                                 v2  Length
0  1  Go until jurong point, crazy.. Available only ...     111
1  1                      Ok lar... Joking wif u oni...      29
2  0  Free entry in 2 a wkly comp to win FA Cup fina...     155
3  1  U dun say so early hor... U c already then say...      49
4  1  Nah I don't think he goes to usf, he lives aro...      61

In [ ]:
#remove the punctutaion marks
def cleanmessage(message):
  nonpunc = [char for char in message if char not in string.punctuation]
  nonpunc = "".join(nonpunc)
  return nonpunc

In [ ]:
#Tokenization is the process of converting the normal text strings
#into a list of tokens...
maindata["v2"] = maindata["v2"].apply(cleanmessage)

<ipython-input-24-d267736b3c77>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  maindata["v2"] = maindata["v2"].apply(cleanmessage)

In [ ]:
maindata.head()

  v1                                                 v2  Length
0  1  Go until jurong point crazy Available only in ...     111
1  1                            Ok lar Joking wif u oni      29
2  0  Free entry in 2 a wkly comp to win FA Cup fina...     155
3  1        U dun say so early hor U c already then say      49
4  1  Nah I dont think he goes to usf he lives aroun...      61

In [ ]:
cv = CountVectorizer(stop_words = "english")

In [ ]:
x = maindata["v2"].values
y = maindata["v1"].values

In [ ]:
#Splitting the train and test dataset
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [ ]:
x_train_cv = cv.fit_transform(x_train)

In [ ]:
y_train = y_train.astype('int')

In [ ]:
#TRAINING A MODEL
nb = MultinomialNB()

In [ ]:
nb.fit(x_train_cv,y_train)

MultinomialNB()

In [ ]:
x_test_cv = cv.transform(x_test)

In [ ]:
y_predict = nb.predict(x_test_cv)

In [ ]:
y_test = y_test.astype('int')
y_predict = y_predict.astype('int')

In [ ]:
accuracyscore = accuracy_score(y_test,y_predict)*100

In [ ]:
print("The Accuracy of the model is : ",accuracyscore)

The Accuracy of the model is :  98.56502242152466

In [ ]:
#SPAM CLASSIFICATION APPLICATION
def checkmsg(msg):
  msgin = cv.transform([msg])
  predict = nb.predict(msgin)
  if(predict[0] == 0):
    print("---------------------MESSAGE SENT-[SPAM]-----------------")
  else:
    print("---------------------MESSAGE SENT-[NOT SPAM]-----------------")

In [ ]:
checkmsg("oh k...i'm watching here...")

---------------------MESSAGE SENT-[NOT SPAM]-----------------

In [ ]:
checkmsg("hi... how are you?")

---------------------MESSAGE SENT-[NOT SPAM]-----------------